.Apple {
	display: inline-block;
	border: 2px solid blue;
}

.Orange {
	display: inline-block;
	border: 2px solid blue;
}

.Banana {
	display: inline-block;
	border: 2px solid blue;
}

.Pear {
	display: inline-block;
	border: 2px solid blue;
}